body{
    background-color: #f0f0f0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela-conteiner{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tabela-estilizada{
    border-collapse: collapse;
    width: 30%;
    box-shadow: 0 0 10px;
}

.tabela-estilizada th, .tabela-estilizada td{
    border: 1px solid #fff;
    padding: 12px;
    text-align: center;
}