<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>
<body>
    <h1>Adicionar Usuários</h1>
    <form action="" method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>Idade</label>
        <input type="text" name="idade" required>
        
        <label>Cidade</label>
        <input type="text" name="cidade" required>

        <input type="submit" value="Salvar">
    </form>
</body>
</html>