<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Atualização de Usuários</h1>
    <form action="" method="POST">
        <label>Nome</label>
        <input type="text" name="nome" value="{{infos.nome}}" required>

        <label>Idade</label>
        <input type="text" name="idade" value="{{infos.idade}}" required>

        <label>Cidade</label>
        <input type="text" name="cidade" value="{{infos.cidade}}" required>
        <input type="submit" value="Atualizar">
    </form>
</body>
</html>