<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home')}}">home</a>
        <a href="{{ url_for('perfil')}}">Ver Perfil</a>
        <a href="{{ url_for('logout')}}">Logout</a>
    </nav>

    <hr>

    <h1>Bem-vindo, {{ nome }}!</h1>
    <p>Você está logado no sistem</p>
    <p>Esta página só pode ser acessada por usuários autenticados.</p>
</body>
</html>