<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <div>
        <h1>Adicionar Novo Usuário</h1>
    </div>
    <div>
        <!-- antion recebe a rota criada lá em user_controller  -->
        <form action="/users/new" method='POST'>
            <div>
                <label for="name">Nome:</label>
                <input type="text" name="name" required>
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="text" name="email" required>
            </div>
            <div>
                <button type="submit">Salvar</button>
                <a href="/">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>